# ********************* supabase connection *********************
DATABASE_URL="postgres://postgres.mdueoxdawdegpjgmvfzp:hroQhWtvbpfcUkkb@aws-0-us-west-1.pooler.supabase.com:5432/postgres"
# ********************* next auth *********************
NEXTAUTH_SECRET='l/YvuApE+xbj52omCoFm6yLoGNjJAWvXEOk8oB9HmDI='
# ********************* google credientials *********************
GOOGLE_CLIENT_ID='531508591920-cj294tmb79jl2h6esgnivm0v0ctdsicn.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='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'

STRIPE_SECRET_KEY= sk_test_51OyVM1SEFisHGGgeMXgjfVhEtdPEExOXYAjkymQXqyt0N4ClqDJSCdD6QqJDuUW5SnxXEjKtHZ7VfVJi1M0LGjDt004Q9SDUyF
STRIPE_WEBHOOK_SECRET= whsec_23d635bed1c80b8118745dd999819adabc950ca7e2fad1843930baaa3e8c18ca
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY= pk_test_51OyVM1SEFisHGGgeZGGXKM1d7cJjlUvg1Ge6scijmr69QvSAJ93djyLwg6MXMBkU75mZvUjNCpUOVSCza1QBuEjZ00nhwgZSbS